@model AdminWebPortal.Models.DriverModel
@{
    AdminWebPortal.Repository.ComputerStatus computerstatus = new AdminWebPortal.Repository.ComputerStatus();
}
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type='text/javascript'>
    $(document).ready(function () {

        $(function () {
            $('input[type="checkbox"]').bind('click', function () {
                var AppID = $(this).attr('ApplicationID');
                var url = "Driver/UpdateDriverIsRequest";

                if ($(this).is(':checked')) {
                    $.post(url, { ID: AppID, IsRequired: true }, function (result) {
                        return false;
                    });
                }
                else {
                    $.post(url, { ID: AppID, IsRequired: false }, function (result) {
                        return false;
                    });
                }

                $(".lblmsg").text("Saved Successfully!!");
            });
        });
    });
</script>
<p>
    Validation Record ID: @Html.TextBox("ComputerID", @computerstatus.ComputerIDFromSession, new { @readonly = true, @Style = "width:50px;" })<label
        id="lblmsg" class="lblmsg" style="color: Red; font-weight: bold;"></label>
    <fieldset>
        <legend>Driver Information</legend>
        @if (Model.Driver != null)
        {
   
            <table class="gridtable">
                <tr>
                    <th>
                        Driver Name
                    </th>
                    <th>
                        Version
                    </th>
                    <th>
                        Required
                    </th>
                    @if (User.IsInRole("Admin") || User.IsInRole("PowerUser"))
                    { <th>
                        Action
                    </th>
                    }
                </tr>
                @foreach (var item in Model.Driver)
                {
                    <tr>
                        <td>
                            @item.DeviceName
                        </td>
                        <td>
                            @item.DriverVersion
                        </td>
                        <td>
                            @if (User.IsInRole("Admin") || User.IsInRole("PowerUser"))
                            {
                                @Html.CheckBoxFor(m => item.IsRequired.Value, new { @Class = "IsRequired", ApplicationID = item.DriverID })
                            }
                            else
                            { 
                                @Html.CheckBoxFor(m => item.IsRequired.Value, new { @Class = "IsRequired", ApplicationID = item.DriverID, @disabled = "disabled" })
                            }
                        </td>
                        @if (User.IsInRole("Admin") || User.IsInRole("PowerUser"))
                        { <td>
                            @Html.ActionLink("Edit", "EditDriver", "Driver", new { ID = item.DriverID }, null)
                        </td>
                        }
                    </tr>
                }
            </table>
 
        }
    </fieldset>
    @Html.ActionLink("Add Driver", "AddDriver", "Driver", null, new { Class = "btna" })
</p>
